body{
    text-align: center;
    background-image:url(image/background.jpg);
    background-size: cover;
}
h1{
    display:inline;
    color:white;
    font-size:5rem;
    margin-top: 2rem;
}
#calculator{
    border:2px solid rgb(163, 145, 145);
    border-radius:5px;
    width:220px;
    margin-left:40%;
    margin-top:5rem;
    background-color: darkslategrey;
}
#display{
    margin:10px;
    height:35px;
    width:85%;
}
.button{
    height:50px;
    width:50px;
    margin:4px;
    border-radius: 30%;
}
#button_container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}